<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/42a4b5a7-45ee-4633-82e0-4c138171ffdb/resourcegroups/DataBase-Api20211203213728ResourceGroup/providers/Microsoft.Web/sites/DataBase-Api20211203213728</ResourceId>
    <ResourceGroup>DataBase-Api20211203213728ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/42a4b5a7-45ee-4633-82e0-4c138171ffdb/resourceGroups/DataBase-Api20211203213728ResourceGroup/providers/Microsoft.ApiManagement/service/DataBase-Apiapi/apis/DataBase-Api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://database-api20211203213728.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>32263d77-d8fb-436a-bb0d-143fe4eb97ae</ProjectGuid>
    <MSDeployServiceURL>database-api20211203213728.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DataBase-Api20211203213728</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$DataBase-Api20211203213728</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>