<nz-table #borderedTable nzBordered nzFooter="Footer" nzTitle="Header" [nzData]="dataSet">
    <thead>
        <tr>
            <th>Id</th>
            <th>ReportName_EN</th>
            <th>ReportName_CN</th>
            <th>Url</th>
            <th>MenuGroup</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of borderedTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.reportName_EN }}</td>
            <td>{{ data.reportName_CN }}</td>
            <td>{{ data.url }}</td>
            <td>{{ data.menuGroup }}</td>
        </tr>
    </tbody>
</nz-table>