<ngx-datatable
  class="material"
  [rows]="rows"
  [sortType]="SortType.multi"
  [columnMode]="ColumnMode.force"
  [footerHeight]="50"
  [rowHeight]="50"
  [scrollbarV]="true"
  [headerHeight]="50"
>
  <ngx-datatable-column name="Name" [width]="300"></ngx-datatable-column>
  <ngx-datatable-column name="Gender"></ngx-datatable-column>
  <ngx-datatable-column name="Age"></ngx-datatable-column>
  <ngx-datatable-column
    name="City"
    [width]="300"
    prop="address.city"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="State"
    [width]="300"
    prop="address.state"
  ></ngx-datatable-column>
</ngx-datatable>
